* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {

    background: linear-gradient(rgb(14, 9, 36), rgb(21, 21, 49), rgb(14, 9, 36));
    background-size: cover;
    background-attachment: fixed;

    background-repeat: no-repeat;

}

header {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;

}

main {}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.list-div {
    /* width: 100%;
    margin-right: 10%; */

}

nav li {
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    display: inline-block;

}

nav li a:hover {
    color: rgb(85, 85, 213);
    transition: 0.5s;
}

.banner-parent-section {
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    animation: change-view 12s infinite 3s ease-in;
    height: 100%;
    position: relative;
    padding-bottom: 5%;
    margin-bottom: 2%;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}



@keyframes change-view {
    0% {
        --vis1: visible;
        --vis2: hidden;
        --vis3: hidden;
        transition: width 3s;
    }

    33% {
        --vis2: visible;
        --vis1: hidden;
        --vis3: hidden;

    }

    66% {
        --vis3: visible;
        --vis1: hidden;
        --vis2: hidden;

    }

    100% {
        --vis1: visible;
        --vis2: hidden;
        --vis3: hidden;

    }

}

.banner-section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    visibility: var(--vis1);

}

.banner-section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    visibility: var(--vis2, hidden);
}


.banner-section-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    visibility: var(--vis3, hidden);
    top: 0%;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    padding-right: 10%;
}

.h-p-a {
    width: 100%;
}


.half-width h1 {

    font-size: 70px;
    color: white;
    font-weight: 900;

}

.text-gradient {
    font-size: 70px;
    background: -webkit-linear-gradient(rgb(87, 159, 237), rgb(112, 234, 198));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.half-width p {
    color: white;
    margin-top: 5%;
    width: 80%;
    font-size: 20px;
    opacity: 80%;
    line-height: 150%;
    margin-bottom: 8%;
}

.button-link {
    text-decoration: none;
    background: linear-gradient(rgb(85, 84, 274), rgb(91, 91, 270));
    padding: 3% 8%;
    border-radius: 10px;
    display: inline;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 18px;

}

.button-link:hover {
    background: linear-gradient(rgb(50, 54, 194), rgb(71, 71, 270));
    transition: 1s;
}

.reveiw-card-section {
    width: 100%;
    padding: 2% 20%;
    margin-bottom: 10%;


}

.review-card-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 10%;
    box-shadow: -1px -1px 30px 1px black;
    border-radius: 10px;
}

.review-div {
    text-align: center;
    color: white;

}

.store-section {

    width: 100%;
}

.store-parent-div {
    text-align: center;
    padding: 2% 15%;
}

.store-parent-div h2 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 2%;
}

.flexible-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;

}

.learn-prog-text {
    /* background: -webkit-linear-gradient(rgb(229, 165, 67), rgb(229, 265, 67));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(229, 172, 86);

}


.flexible-cont2 {
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;

}

.flexible-cont2-section {
    padding: 5% 10%;

}

.flexible-cont2-section h3 {
    color: white;
    font-size: 26px;
    padding: 5%;
}

.flexible-cont2-section h2 {
    color: white;
    font-size: 35px;
    font-weight: 900;

}

.one-m-div {
    background-color: rgb(44, 31, 85);
    border-radius: 20px;
    padding-left: 5%;
    padding-bottom: 0;
    margin-right: 2%;
    padding-top: 2%;

}

.one-m-div img {
    width: 100%;
    position: relative;
    top: 4px;
}

.rewards-div {
    background-color: rgb(44, 31, 85);
    padding: 5%;
    border-radius: 20px;
}

.offline-playground-div {
    background-color: rgb(236, 87, 104);
    padding-top: 5%;
    padding-left: 5%;
    margin-top: 5%;
    border-radius: 20px;

}


.offline-playground-div img {
    width: 100%;
}

.o-p-div {

    width: 150%;
}

.o-p-div p {
    font-weight: 700;
    color: white;
    opacity: 150%;
}

.python-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.python-pic img {
    width: 100%;


}